<h1>@ViewBag.inforPerson</h1>
<form asp-action="Index">
    <label>Nhap PersonID</label>
    <Input type="text" name="PersonId">
    <label>Nhap Ho Ten: </label>
    <input type="text" name="FullName">
    <label>Nhap Dia Chi: </label>
    <input type="text" name="Address">
    <input type="submit" value="Send">
</form>